h1{

  font-family: 'Gloria Hallelujah', cursive;
}

p{
   text-align: justify;
   font-family: 'Kaushan Script', cursive;
   font-size: 110%;
 }

h3{


    font-family: 'Ruslan Display', cursive;

}

footer{

    font-family: 'Great Vibes', cursive;

  }
body{



}
